.fadeMenu {
    width: 275px;
    height: 50vmax;
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0
}

.menu:hover {
  background-color: #8CC6FF;
  cursor: pointer;
}

.button {
  background-color: #db3d44;
  margin: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #db3d44;
  color: white;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: white;
  color: #db3d44;
}








