.data:hover .test {
    transform: scale(1.5) translate(-20px,-20px)
  }
.test {
    transition: all 1s;
    transform-origin: 50% 50%;
    }

.created {
    position: absolute;
    top: -35px; 
    z-index: 1000; 
    left: -35px;
    border-radius: 25px;
    padding: 0px;
    opacity: 0
}

.data:hover .created {
    animation: fadeInCreated 2.2s;
    animation-fill-mode: forwards;  
}

@keyframes fadeInCreated {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
}

.data:hover .accepted {
    animation: fadeInAccepted 2.2s;
    animation-fill-mode: forwards;  
}

.accepted {
    position: absolute;
    top: -35px; 
    z-index: 1000; 
    left: 35px;
    border-radius: 25px;
    padding: 0px;
    opacity: 0
}

@keyframes fadeInAccepted {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
}

.data:hover .music {
    animation: fadeInMusic 2.2s;
    animation-fill-mode: forwards;  
}

.music {
    position: absolute;
    top: -35px; 
    z-index: 1000; 
    left: 130px;
    border-radius: 25px;
    padding: 0px;
    opacity: 0
}

@keyframes fadeInMusic {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
}

.data:hover .vote {
    animation: fadeInVote 2.2s;
    animation-fill-mode: forwards;  
}

.vote {
    position: absolute;
    top: -35px; 
    z-index: 1000; 
    left: 250px;
    border-radius: 25px;
    padding: 0px;
    opacity: 0
}

@keyframes fadeInVote {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
}

.data:hover .final {
    animation: fadeInFinal 2.2s;
    animation-fill-mode: forwards;  
}

.final {
    position: absolute;
    top: -35px; 
    z-index: 1000; 
    left: 335px;
    border-radius: 25px;
    padding: 0px;
    opacity: 0
}

@keyframes fadeInFinal {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
}

.data:hover .complete {
    animation: fadeInComplete 2.2s;
    animation-fill-mode: forwards;  
}

.complete {
    position: absolute;
    top: -35px; 
    z-index: 1000; 
    left: 418px;
    border-radius: 25px;
    padding: 0px;
    opacity: 0
}

@keyframes fadeInComplete {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
}







