.modal {
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    transform: scale(1);
    position: fixed;
    z-index: 2000;
    top: 35%;
    left: calc(50% - 250px);
    /* bottom: 40px; */
    opacity: 1;
    background-color: white;
    animation: fadeIn .25s;
}

@keyframes fadeIn {
    0%  {opacity: 0;}
    100% {opacity: 1}
}

.modalButton {
    margin: 5px
}

.friendRequestModal {
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    transform: scale(1);
    position: fixed;
    z-index: 2000;
    top: 5%;
    left: calc(50% - 400px);
    /* bottom: 40px; */
    opacity: 1;
    background-color: white;
    animation: fadeIn .25s;
}

.modalFriendRequestButton {
    margin: 0px

}

.votingModal {
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    transform: scale(1);
    position: fixed;
    z-index: 2000;
    top: 20%;
    left: calc(50% - 450px);
    /* bottom: 40px; */
    opacity: 1;
    background-color: white;
    animation: fadeIn .25s;
}

.votingHighlight:hover {
    animation: vote 2s;
    animation-fill-mode: forwards; 
}

@keyframes vote {
    0% {background-color: white;}
    100% {background-color: #8FC8FF ;}   
}


