
.body {
    /* background: black; */
    /* min-height: 100vh; */
    min-width: 10vw;
    margin: 1.25em
}

.cardOne {
    color: white;
    background-position: 50%;
    background-size: cover;
    padding: 0rem 0 0;
    max-width: 35ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease                                        ;
}

.cardOne:hover {
    transform: scale(1.05)
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear
}

.cardOne:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.cardOne:hover .card-content > * {
    opacity: 1;
    transition-delay: 1000ms;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 00% / .2) 10%, hsl(0 0% 0% / 1));
    transform: translateY(60%);
    transition: transform 500ms ease;
}

.card-title {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -5px;
    background: limegreen;
    width: calc(100% + var(--padding));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease                                        ;

    

}

.cardOne:hover .card-title::after {
    transform: scaleX(1);
}

.buttonOne {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: limegreen;        
    padding: 0.5em 1.1em;
    border-radius: .25em;
    margin: auto;
    border: none;


}

.buttonOne:hover,
.button:focus {
    background-color: white;
    color: black
}
