.headerStyle {
    width: 100%;
    background-color: #db3d44;
    border-style: solid;
    border-color: #db3d44;
    position: "relative"
    
  }

  .loginButton {
    position: absolute;
    right: 150px;
    margin: 27px 0px;
    background-color: dodgerblue;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border-style: none;
    transition-duration: 0.5s;
    color: white;
    border-style: solid;
    border-color: dodgerblue
  }

  .loginButton:hover {
      background-color: white;
      color: dodgerblue
  }

  .signUpButton {
      position: absolute;
      right: 40px;
      margin: 27px 0px;
      background-color: dodgerblue;
      border-radius: 8px;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 15px;
      text-align: center;
      border-style: none;
      transition-duration: 0.5s;
      color: white;
      border-style: solid;
      border-color: dodgerblue
  }

  .signUpButton:hover {
    background-color: white;
    color: dodgerblue
}

  .user {
    position: absolute;
    right: 150px;
    margin: 25px 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    border-style: none;
    color: white;
  }

  .signOutButton {
    position: absolute;
    right: 40px;
    margin: 27px 0px;
    background-color: dodgerblue;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border-style: none;
    transition-duration: 0.5s;
    color: white;
    border-style: solid;
    border-color: dodgerblue
  }

  .button {
    background-color: #db3d44;
    margin: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #db3d44;
    color: white;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: white;
    color: #db3d44;
}

